@tailwind base;
@tailwind utilities;
@tailwind components;


body{
  
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #0A0B14;
  
}
.ryan{
    background-image: url(../src/assets/images/firstimage.png)
}